.gradle/
required/
logs/*
build/
temp/
src/main/java/
target/
.Rproj.user
docs/public/
docs/cucumber-json-report.json
docs/offernet-docs-bookdown/cucumber-json-report.json
docs/offernet-docs-bookdown/cucumber-json-report-processed.json
lib/
analysis/experimentData/
analysis/data/
analysis/elabnotebook-generate/octopress-2.0/
analysis/elabnotebook-generate/tmp/
analysis/elabnotebook-generate/
analysis/elabnotebook-generate/scripts/knitr/*.md
analysis/elabnotebook-generate/scripts/knitr/*.dat