.gradle/
required/
logs/*
build/
temp/
src/main/java/
target/
.Rproj.user
docs/public/cucumber-html-reports
docs/public/offernet-documentation
docs/public/unit-tests
docs/cucumber-json-report.json
docs/offernet-docs-bookdown/cucumber-json-report.json
docs/offernet-docs-bookdown/cucumber-json-report-processed.json
lib/
analysis/experimentData/
analysis/data/
analysis/elabnotebook-generate/octopress-2.0/
analysis/elabnotebook-generate/tmp/
analysis/elabnotebook-generate/scripts/knitr/*.md
analysis/elabnotebook-generate/scripts/knitr/*.html
analysis/elabnotebook-generate/scripts/knitr/*.dat
docs/decentralized-vs-centralized-bookdown/ON_codebase_version.dat