sudo: required
language: java
services:
- docker
addons:
  hosts:
  - dse-server.host
  apt:
    packages:
      - libssl-dev
      - wget
before_install:
  - docker pull datastax/dse-server:5.1.6
  - docker run -e DS_LICENSE=accept -e LISTEN_ADDRESS=127.0.0.1 -e START_RPC=true --name dse -d -p 8182:8182 -p 9042:9042 datastax/dse-server -g
  - docker ps -a
  - sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys E084DAB9
  - sudo add-apt-repository "deb https://cran.cnr.berkeley.edu/bin/linux/ubuntu trusty/"
  - sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv 0C49F3730359A14518585931BC711F9BA15703C6
  - sudo apt update
  - sudo apt-get -y build-dep libcurl4-gnutls-dev
  - sudo apt-get -y install libcurl4-gnutls-dev
  - sudo apt-get -y install libcurl4-openssl-dev
  - sudo apt-get -y install r-base
  - wget https://github.com/jgm/pandoc/releases/download/2.2.1/pandoc-2.2.1-1-amd64.deb
  - sudo dpkg -i pandoc-2.2.1-1-amd64.deb
  - mkdir $TRAVIS_BUILD_DIR/Rlibs
  - export R_LIBS=$TRAVIS_BUILD_DIR/Rlibs
  - R -e "install.packages('git2r', repos = 'http://cran.cnr.berkeley.edu/', lib='$TRAVIS_BUILD_DIR/Rlibs')"
  - R -e "install.packages('devtools', repos = 'http://cran.cnr.berkeley.edu/', lib='$TRAVIS_BUILD_DIR/Rlibs')"
  - R -e "library('devtools', lib.loc='$TRAVIS_BUILD_DIR/Rlibs')"
  - R -e "devtools::install_github('rstudio/bookdown')"
  - sudo apt install -y jekyll
#  - host-manager -add visualization-server.host 127.0.0.1

script:
  - "./gradlew check"
  - "./gradlew buildDocumentation"
after_script:
  - bash <(curl -s https://codecov.io/bash)  -f build/reports/jacoco/test/jacocoTestReport.xml
  - scripts/travis_push.sh