.book .book-body .page-wrapper .page-inner {
  max-width: 900px !important;
}

.caption {
  color: #595959  !important;
  margin-top: 20px  !important;
  margin-right: 100px  !important;
  margin-left: 100px !important; 
  font-size: 90% !important;
}

p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

