<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

   <!-- For loading external data files -->
   <script src="javascripts/cytoscape.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-cose-bilkent/1.6.5/cytoscape-cose-bilkent.js"></script>
   <script src="javascripts/cola.js"></script>
   <script src="javascripts/cytoscape-cola.js"></script>
   <script src="javascripts/socket.io.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
